* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  position: fixed;
  width: 100%;
  background-color: rgb(223, 108, 108);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar_list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: flex-start;
}

.navbar_list_item {
  margin: 0 5px;
  padding: 20px;
  position: relative;
}

.navbar_list_item a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.navbar_list_item:hover {
  background-color: rgb(166, 170, 187);
}

.lan-button {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.lan-button button {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: rgb(223, 108, 108);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.lan-button button:hover {
  background-color: rgb(166, 170, 187);
}

.trans-navAbout,
.trans-navProjects,
.trans-navContact {
  text-decoration: none;
  color: white;
}

.header {
  height: 630px;
  width: 100%;
  background-color: rgb(53, 56, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  color: white;
}

h2 {
  font-size: 2rem;
  color: burlywood;
}

main {
  background-color: #697fb9;
  height: 1350px;
}

.main_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding-top: 80px;
  padding-bottom: 0px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 8px;
}

.main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 30px;
}

.main_projects {
  height: 450px;
  width: 500px;
  padding: 20px;
  padding-bottom: 0px;
  border-start-start-radius: 30px;
  border-start-end-radius: 30px;
}

.main_project-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 31, 19);
  height: 60px;
  width: 500px;
  margin-top: -4px;
  margin-left: 20px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.main_project_a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.main_button {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 100px;
}

.show-all-btn {
  background-color: rgb(50, 109, 84);
  border-radius: 10px;
  font-size: 20px;
  height: 30px;
  width: 150px;
  text-align: center;
  padding-top: 10px;
  list-style-type: none;
  text-decoration: none;
  color: rgb(230, 189, 189);
}

.cv_button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 30px;
}

.cv_button:hover {
  background-color: #0056b3;
}
.contact_form_container {
  width: 100%;
  margin-top: 30px;
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contact_form_container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.contact_form_container form {
  display: flex;
  flex-direction: column;
}

.contact_form_container label {
  margin-bottom: 5px;
  color: #555;
}

.contact_form_container input[type="text"],
.contact_form_container input[type="email"],
.contact_form_container textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.contact_form_container input[type="text"]:focus,
.contact_form_container input[type="email"]:focus,
.contact_form_container textarea:focus {
  border-color: #0066cc;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
}

.contact_form_container textarea {
  resize: vertical;
}

.contact_form_container input[type="submit"] {
  padding: 10px 15px;
  background-color: #0066cc;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact_form_container input[type="submit"]:hover {
  background-color: #005bb5;
}

.spinner {
  display: none;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4caf50;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin-left: 45%;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.confirmation-message {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.success {
  color: #4caf50;
  margin-left: 35%;
}

.error {
  color: #f44336;
  margin-left: 25%;
}
.section_icons {
  height: 900px;
  width: 100%;
  background-color: rgb(149, 149, 150);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-bottom: solid 4px rgb(172, 37, 37);
}

.section_text1 {
  font-size: 4rem;
  color: antiquewhite;
}
.section_text2 {
  font-size: 1.5rem;
  color: cornsilk;
}
.social-media-icons {
  display: flex;
  list-style-type: none;
  padding-top: 20px;
  font-size: 20px;
}

.icons {
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 20px;
}
.icons:hover {
  transform: scale(1.1);
}

.section_icons_a {
  list-style-type: none;
  text-decoration: none;
  color: bisque;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(130, 141, 148);
  color: white;
}

.footer_text {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.footer_a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 600px) {

  .nav-bar {
    height: 40px;
  }
  .navbar_list {
    display: flex;
    justify-content: flex-start;
  }
  .lan-button button {
    font-size: 10px;
  }
  .navbar_list_item a {
    font-size: 15px;
  }

  .navbar_list_item {
    padding: 2px;
    font-size: 15px;
  }
  .header {
    text-align: center;
    justify-content: flex-start;
    padding-top: 100px;
    height: 300px;
  }

  .main_projects {
    height: 130px;
    width: 120px;
  }

  .main_project-text {
    width: 120px;
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    color: white;
  }

  h2 {
    font-size: 1rem;
    color: burlywood;
  }

  .main_header {
    justify-content: center;
    padding-top: 20px;
  }

  .main_header {
    font-size: 1rem;
  }
  main {
    background-color: #697fb9;
    height: 900px;
  }

  .section_icons {
    height: 250px;
  }
  .section_text1 {
    font-size: 2rem;
  }
  .section_text2 {
    font-size: 1rem;
  }
  .social-media-icons {
    font-size: 10px;
  }

  .icons {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 20px;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(130, 141, 148);
    color: white;
  }

  .footer_text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 8px;
    font-family: "Raleway", sans-serif;
  }
}
